* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.chat-div {
  height: 80vh;
}

.username-div {
  width: 100%;
  padding: 15px;

  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.username-div:hover {
  background-color: lightblue;
  cursor: pointer;
}

.send-div-wrapper {
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: rgba(4, 65, 177, 0.1);
}

.send-div-wrapper input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  margin: 5px;
}

.display-div {
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  display: flex;
  z-index: 100;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(4, 65, 177, 0.1);
}

.close_chat {
  filter: grayscale(1);
}

.send-btn {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #2743fd;
  border: none;
  color: white;
}

.user-msg {
  width: fit-content;
  min-width: 10%;
  margin: 5px;
  align-self: flex-start;
  right: 0;
  padding: 5px;
  border-radius: 0px 10px 10px 10px;
  background-color: white;
}

.admin-msg {
  width: fit-content;
  min-width: 10%;
  margin: 5px;
  right: 0;
  align-self: flex-end;
  padding: 5px;
  border-radius: 10px 0px 10px 10px;
  background-color: white;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
}

.active_user {
  background-color: lightblue;

  width: 100%;
  border: 1px dotted;
  padding: 15px;
}
