* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper form {
  width: 30%;
  text-align: center;
}
