* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.back a {
  text-decoration: none;
  color: #4a4b4d;
}

.user-btn {
  padding: 15px;
  border-radius: 50px;
  min-width: 10%;
  width: 212px;
  height: 65px;
  background-color: #4a4b4d;
  color: #ffffff;
  border: none;
  font-family: Poppins;
}

.user-cards-wrapper {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.user-card {
  position: relative;
  height: 150px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  padding: 10px;

  display: flex;
  align-items: center;
}
