* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.my-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left input {
  width: 80%;
}

.right {
  width: 50%;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  margin-bottom: 30px;
}

.otp-input {
  padding: 10px;
  width: 5px;
}

.otp-form {
  display: flex;
  width: 100%;
}

.otp-btn {
  width: 80%;
  margin-top: 50px;
  font-size: 17px;
  padding: 12px 15px;
}
