* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.multiple-tabs {
  display: flex;
  justify-content: space-between;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.tab-active {
  border-bottom: 5px solid #00a0a7 !important;
}
