* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.my-header {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 32px;
}

.together-2 {
  width: 10%;
  display: flex;
  justify-content: space-around;
}

.search-bar {
  padding: 8px 45px;
  height: 40px;
  width: 350px;
  border-radius: 100px;
  border: 1px dotted black;
  outline: none;
}
