.notifications-wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.notification {
  padding: 10px;
  border: 1px dotted;
  margin-top: 20px;
  background-color: lightblue;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
