@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Lato", sans-serif;
}

.sidebar {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);
}

.sidebar ul {
  float: left;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.sidebar li {
  padding: 6px;
}

.sidebar li a {
  text-decoration: none;
  color: #52575c;
  font-size: 20px;
  padding: 10px;

  font-family: "Lato", sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}

.active {
  color: #00a0a7 !important;
  transform: scale(1.02);
}
