* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.below-header {
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.below-header h1 {
  font-weight: 700;
}

.cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dashboard-card {
  display: flex;
  justify-content: space-around;
  align-items: "center";
  width: 20%;
  padding: 25px;
  box-shadow: 0px 12px 26px rgba(16, 13, 150, 0.06);
  border-radius: 10px;
  border: none;
}

.card-img-wrapper {
  padding: 10px;
}

.select-card-wrapper {
  width: 99%;
  margin: 20px 5px 10px 5px;
  padding: 10px;
  box-shadow: 10px 5px 35px rgb(26 13 165 / 6%);
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); */
  border-radius: 5px;
}

.select-card {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.export-btn {
  padding: 0px 35px;
  border-radius: 5px;
  border: none;

  background-color: #2bbfc5;
  color: white;
}

.export-btn a {
  color: white;
  text-decoration: none;
}
