.statuses-wrapper {
  height: 60px;
  width: 100%;
  left: 256px;
  top: 221px;
  border-radius: 0px;
  padding: 5px;
  margin: 20px 0px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2bbfc5;
}

.active-status {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a8d9db;
}
