* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.my-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.login-form {
  width: 45%;
  text-align: center;
}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left input {
  width: 80%;
}

.right {
  width: 50%;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-btn {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  background-color: #2bbfc5;
  border: none;
  color: white;
}

.logo {
  margin-bottom: 30px;
}
