.category-card {
  width: 95%;
  margin: 15px auto;
  padding: 10px;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.category-info {
  width: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.categoryOff {
  filter: grayscale(1);
}

.img-wrapper {
  height: 100px;
  width: 100px;
}

.img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
