* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header-wrapper {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.addCoupon-btn {
  background-color: black;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 18px;
}

.addCoupon-btn a {
  text-decoration: none;
  color: white;
}

.offer-search {
  padding: 8px;
}
